DB_DRIVER=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_NAME=app_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_FILE=app.db

CACHE_TYPE=redis
REDIS_HOST=redis:6379
CACHE_TTL=300

APP_ENV=development
APP_PORT=8000
