COMPOSE_PROJECT_NAME=cloudlocal

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=mock_key
AWS_SECRET_ACCESS_KEY=mock_secret
AWS_ENDPOINT_URL=http://localhost:4566

GCP_PROJECT_ID=local-project
PUBSUB_EMULATOR_HOST=localhost:8085
FIRESTORE_EMULATOR_HOST=localhost:8080
BIGTABLE_EMULATOR_HOST=localhost:8086
STORAGE_EMULATOR_HOST=http://localhost:4443

AZURE_STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
AZURE_STORAGE_BLOB_ENDPOINT=http://localhost:10000/devstoreaccount1
AZURE_STORAGE_QUEUE_ENDPOINT=http://localhost:10001/devstoreaccount1
AZURE_STORAGE_TABLE_ENDPOINT=http://localhost:10002/devstoreaccount1
AZURE_COSMOS_ENDPOINT=https://localhost:8081
AZURE_COSMOS_KEY=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==
